@import "normalize.scss";

@mixin font-lato {
    font-family: "Lato", sans-serif;
}

@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
    
}


.section-outer {
}
.section-inner {
}

// === header ===
.section-header {
    &-wrapper {
        position: fixed;
        background-color: #ffffff;
        height: 94px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        &-logo {
            margin-left: 265px;
            width: 50px;
            height: 48px;
            background-image: url("../img/logo.png");
        }
        &__menu {
            margin-left: 50px;
            &-button {
                color: #868686;
                font-size: 14px;
                @include font-lato;
                background-color: #ffffff;
                border: none;
            }
        }
    }
}
// === / header ===

// === banner ===
.section-banner{
    &-wrapper{
        padding-top: 94px;
        width: 100%;
        height: calc(100vh - 94px);
        background-image: url('../img/banner.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text{
            margin-top: 101px;
            color: #ffffff;
            &__title{
                font-size: 35px;
                text-align: center;
                @include open-sans;
                font-weight: 800;
            }
            &__subtitle{
                @include open-sans;
                font-size: 15px;
            }
        }
        &-menu{
            height: 47px;
            margin-top: 50px;
            @include open-sans;

            &__input{
                box-sizing: border-box;
                border: none;
                width: 282px;
                height: 47px;
                border-radius: 2px;
            }
            &__button{
                box-sizing: border-box;
                border: none;
                width: 212px;
                height: 47px;
                border-radius: 2px;
                background-color: #ffbb42;
                color: #ffffff;
            }
        }
        &-laptop{
            margin-top: 50px;
            width: 647px;
            height: 343px;
            background-image: url('../img/laptop.png');
            &__content{
                width: 446px;
                height: 265px;
                margin-left: 101px;
                margin-top: 17px;
            }
        }
        &-slider{
            &__radio{
                margin-top: 20px;
                
            }
        }
    }
}
// === / banner ===

// === service ===
.section-service{
    &-wrapper{
        &-text{
            text-align: center;
            &__title{

            }
            &__subtitle{

            }
        }
        &-points{
            display: flex;
            flex-direction: row;
            &-left{
                display: flex;
                flex-direction: column;
            }
            &-right{
                display: flex;
                flex-direction: column;
            }
            &-point{
                &__icon{

                }
                &__title{

                }
                &__subtitle{

                }
            }
        }
    }
}
// === / service ===
